In [31]:
#: Imports
import pandas as pd
#: Read the dataset
#! df = pd.read_csv("data.csv", sep='\t') # TSV = tab seperated words
df = pd.read_csv("data.csv") # CSV = comma seperated words
print(df)

        id                 date         price  bedrooms  bathrooms  \
0        1  2014-05-02 00:00:00  3.130000e+05         3       1.50
1        2  2014-05-02 00:00:00  2.384000e+06         5       2.50
2        3  2014-05-02 00:00:00  3.420000e+05         3       2.00
3        4  2014-05-02 00:00:00  4.200000e+05         3       2.25
4        5  2014-05-02 00:00:00  5.500000e+05         4       2.50
...    ...                  ...           ...       ...        ...
4595  4596  2014-07-09 00:00:00  3.081667e+05         3       1.75
4596  4597  2014-07-09 00:00:00  5.343333e+05         3       2.50
4597  4598  2014-07-09 00:00:00  4.169042e+05         3       2.50
4598  4599  2014-07-10 00:00:00  2.034000e+05         4       2.00
4599  4600  2014-07-10 00:00:00  2.206000e+05         3       2.50

      sqft_living  sqft_lot  floors  waterfront  view  condition  sqft_above  \
0            1340      7912     1.5           0     0          3        1340
1            3650      9050     2.0           0     4          5        3370
2            1930     11947     1.0           0     0          4        1930
3            2000      8030     1.0           0     0          4        1000
4            1940     10500     1.0           0     0          4        1140
...           ...       ...     ...         ...   ...        ...         ...
4595         1510      6360     1.0           0     0          4        1510
4596         1460      7573     2.0           0     0          3        1460
4597         3010      7014     2.0           0     0          3        3010
4598         2090      6630     1.0           0     0          3        1070
4599         1490      8102     2.0           0     0          4        1490

      sqft_basement  yr_built  yr_renovated                    street  \
0                 0      1955          2005      18810 Densmore Ave N
1               280      1921             0           709 W Blaine St
2                 0      1966             0  26206-26214 143rd Ave SE
3              1000      1963             0           857 170th Pl NE
4               800      1976          1992         9105 170th Ave NE
...             ...       ...           ...                       ...
4595              0      1954          1979            501 N 143rd St
4596              0      1983          2009          14855 SE 10th Pl
4597              0      2009             0          759 Ilwaco Pl NE
4598           1020      1974             0         5148 S Creston St
4599              0      1990             0         18717 SE 258th St

           city  statezip country
0     Shoreline  WA 98133     USA
1       Seattle  WA 98119     USA
2          Kent  WA 98042     USA
3      Bellevue  WA 98008     USA
4       Redmond  WA 98052     USA
...         ...       ...     ...
4595    Seattle  WA 98133     USA
4596   Bellevue  WA 98007     USA
4597     Renton  WA 98059     USA
4598    Seattle  WA 98178     USA
4599  Covington  WA 98042     USA

[4600 rows x 19 columns]

In [32]:

print("df.shape", df.shape)
print("len(df)", len(df))
print("df.columns", df.columns )
print("len(df.columns)", len(df.columns) )
print("df.dtypes", df.dtypes)

df.shape (4600, 19)
len(df) 4600
df.columns Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'street', 'city',
       'statezip', 'country'],
      dtype='object')
len(df.columns) 19
df.dtypes id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
street            object
city              object
statezip          object
country           object
dtype: object

In [41]:
# İstatistiksel veri türü olarak; görev olarak; hepsi farklı !!!

# UNIQUE
# TCKN      = 234525839543, NO SUBSTRACTION - NO COMPARISON (çıkarma gibi işlemler yok, kıyaslama yok)

# CAN BE COMPARED, CAN BE SUBSTRACTED
# CONTINIOUS DATA TYPE
# Yaş       = 21

# CAN BE COMPARED, CANNOT BE SUBSTRACTED
# Sınıf     = 3
# ORDINAL
# Baldo
# Normal
# Kırık

# CANNOT BE COMPARED, NOT UNIQUE
# CICEK SINIFLARI (gul, lale, papatya).....
# Istanbul, Ankara/
# CATEGORIC

# PlakaKodu = 35
# PlakaKodu = 06
# PlakaKodu = 29

# Bool, Boolean
# Ehliyet   = 1
# FLAG


# Ahmet:
# -- 23
# Mehmet:
# -- 24
# Mustafa:
# -- 25

# continious data type
# 1= CAN BE COMPARED ** kiyaslanabilir
# 2= RANGES ARE EQUAL ** araliklar esittir





# ATOMIC  = int, float, bool, string, datetime
# COMPLEX = list, set, dict, tuple
#! df.info()


# df ==> DATAFRAME

# cardinality = How often a variable changes in a dataset
for c in df.columns:
    unique_nof_values = len(df[c].unique())
    if unique_nof_values == 1:
        del df[c]
    
    if unique_nof_values == len(df):
        del df[c]

#! print(df.columns)

#: Select more than one columns
#! print(df[ ['bedrooms','bathrooms', 'sqft_living']  ])

#: Deleting a column
#! del df['condition']
#! print(df.columns)

#: Selecting a column and assigning to another variable
X = df['view']
del df['view']
print(df.columns)

#: Creating new column
df['view!'] = X
print(df.columns)

Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'sqft_above', 'sqft_basement', 'yr_built',
       'yr_renovated', 'street', 'city', 'statezip'],
      dtype='object')
Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'sqft_above', 'sqft_basement', 'yr_built',
       'yr_renovated', 'street', 'city', 'statezip', 'view!'],
      dtype='object')

In [57]:
import datetime

#: Adding a new column with all values as `0`
#! df['q'] = 0
#! print(df['q'])

# sign(x) 
# x >  0  => 1
# x == 0  => 0
# x <  0  => -1

# pos(x) =
# x >  0 => 1
# x == 0 => 0

def pos(x):
    if x > 0: 
        return 1
    return 0

def pos2(x):
    return 1 if x > 0 else 0

#: Lambda function
def pos3(x):
    if x > 0:
        return 1
    else:
        if x == 0:
            return 0
        else:
            return -1

poslambda = lambda x: 1 if x > 0 else 0

YEAR = datetime.datetime.now().year # 2022
agelambda = lambda x: YEAR - x

   


# APPLY = FOREACH # HER BIRI ICIN
df['renewed'] = df['yr_renovated'].apply( poslambda )

df['age'] = df['yr_built'].apply( agelambda )
df['age2'] = YEAR - df['yr_built']

#: Sorting dataset
#: Siralama
df = df.sort_values(['price'])

#: Filtering


# df[  'columnname'   ] => o kolonu secip degerlerini donduruyor
# df[ ['x', 'y'] ] => o kolonlari secip degerlerini donduruyor



df = df[      df['price'] > 50000       ]






# yr_built
# age
# 2022



# yr_renovated


#! columnlist = list(df.columns)
#! columnlist.remove( 'renewed' )
#! columnlist.insert( 7, 'renewed')
#! df = df[ columnlist ]

#: Saving to a file
df.to_csv("data2.csv", index = None)

In [78]:

#: Imports
import pandas as pd
#: Read the dataset
#! df = pd.read_csv("data.csv", sep='\t') # TSV = tab seperated words
df = pd.read_csv("data.csv") # CSV = comma seperated words

#: Most frequent
most = df['city'].mode()[0]

#! df['city'].fillna('Unknown') 
#! df['city'].fillna('Kent') 
df['city'] = df['city'].fillna( most )

#: Finding Empty records
df['street'].isnull()

#: Get the records with street not empty
df = df[ df['street'].notnull() ]

df.info()


# 
# data filling for numerical values
# value counts
# subset comparison, seatle prices and other prices
# median/mean
#

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4588 entries, 0 to 4599
Data columns (total 19 columns):
id               4588 non-null int64
date             4588 non-null object
price            4579 non-null float64
bedrooms         4588 non-null int64
bathrooms        4588 non-null float64
sqft_living      4588 non-null int64
sqft_lot         4588 non-null int64
floors           4567 non-null float64
waterfront       4588 non-null int64
view             4588 non-null int64
condition        4584 non-null float64
sqft_above       4572 non-null float64
sqft_basement    4585 non-null float64
yr_built         4581 non-null float64
yr_renovated     4588 non-null int64
street           4588 non-null object
city             4588 non-null object
statezip         4579 non-null object
country          4588 non-null object
dtypes: float64(7), int64(7), object(5)
memory usage: 716.9+ KB