In [18]:

import sys
import pandas as pd
import re
import json

def findPattern( text: str ) -> str:
    text = re.sub(r"[a-z]", "a", text)
    text = re.sub(r"[A-Z]", "A", text)
    text = re.sub(r"[0-9]", "0", text)

    text = re.sub(r"a+", "a", text)
    text = re.sub(r"A+", "A", text)
    text = re.sub(r"0+", "0", text)

    return text

    


df = pd.read_csv("data2.csv")
df['street_pattern'] = df['street'].apply(lambda value: findPattern(value))
#! print(df[ ['street', 'street_pattern'] ])
#! print(df['street_pattern'].value_counts())

#! p1 = "0 0a Aa A"
#! p2 = "0 A 0a Aa"
#! kosul = df['street_pattern'] == p1
#! print(df[ kosul ]['street'])
#! p1_regex = r'([0-9]{1,5})\s[0-9]{1,3}th\s([A-Z][a-z]+)\s[NESW]{1,2}'


# print( df['price'].mean() )
# print( df['price'].std() )

#! for c in df.columns:
#!    if df[c].std() == 0:
#!        del df[c]

"""
Standard sapma yoksa, veride degisiklik yok, BILGI YOK
Standard sapma coksa - buyukse, veride karmasiklik var, BILGI YOK

# 552292.8553849221
# 565525.1880892077

# KUME BOLUNUR!!!
# KAPSAM DISI BIRAKMA 
# TRANSFORMASYON YAPILIR (log, sigmoid, .... threshold, CROP)

"""

"""
for c in df.columns:
    count = len(df[c].unique())

    if count < 15 and count > 1:
        print(c, f"Adet={count}", f"En çok={df[c].mode()[0]}")
    elif count == 1:
        print(c, "Önemseme!")
    elif str(df.dtypes[c]) == 'object':
        print(c, "Çok fazla değer")
    elif count == len(df):
        print(c, "Hepsi farklı")
    else:
        print(c, f"Ortalama={df[c].mean()}, Std={df[c].std()}")
"""


# MEDYAN = ORTA DEGER


# print( df['yr_built'].median() )
# print( df['yr_built'].mean() )



"""
for c1 in df.columns:  
    for c2 in df.columns:
        if c1 != c2:

            if str(df.dtypes[c1]) in ['int64', 'float64'] and str(df.dtypes[c2]) in ['int64', 'float64']:
                print(c1, c2, df[c1].corr(df[c2]))
"""

"""
for i1 in range(len(df.columns)):
    for i2 in range(len(df.columns)):
        if i2 > i1:
            c1 = df.columns[i1]
            c2 = df.columns[i2]
            if str(df.dtypes[c1]) in ['int64', 'float64'] and str(df.dtypes[c2]) in ['int64', 'float64']:
                print(c1, c2, df[c1].corr(df[c2]))
"""


"""
for i1 in range(len(df.columns)):
    for i2 in range(i1+1, len(df.columns)):
        c1 = df.columns[i1]
        c2 = df.columns[i2]
        if str(df.dtypes[c1]) in ['int64', 'float64'] and str(df.dtypes[c2]) in ['int64', 'float64']:
            print(c1, c2, df[c1].corr(df[c2]))
"""

"""

for c1 in df.columns:  
    for c2 in df.columns:
        if c1 > c2:
            if str(df.dtypes[c1]) in ['int64', 'float64'] and str(df.dtypes[c2]) in ['int64', 'float64']:
                print(c1, c2, df[c1].corr(df[c2]))
"""

df2 = df[   ['price', 'bedrooms']  ]


# READ 
#! x = df2.loc[ 0:3 ]
#! print(x)




# 0
# 1
# 2
# 3
# 4


# LENGTH ==> 5

"""
import random

for i in range(1000):
    price = random.random() * 1000000
    bedroom = random.choice( [2,3,4,5] )
    df2.loc[ len(df2) ] = [ price, bedroom ]

print(df2)
"""
"""
#: INSERT NEW RECORD, NEW LINE
satir_sayisi = len(df2)
print(satir_sayisi)
df2.loc[ satir_sayisi ] = [ 650000, 3 ]

satir_sayisi = len(df2) 
print(satir_sayisi)
df2.loc[ satir_sayisi ] = [ 670000, 3 ]

print(df2)
"""

"""
#: INSERT NEW RECORD, NEW LINE
satir_sayisi = len(df2)
print(satir_sayisi)
df2.loc[ satir_sayisi + 6 ] = [ 650000, 3 ]

print(df2)
satir_sayisi = len(df2)
print(satir_sayisi)
"""

"""
df = df.set_index('street')

t = 'Indian Trail'
print( df.loc[ t ] )

# 835000.0	
"""

"""
PRIMARY INDEX:
	TEKİL
	UNİQUE
		TCKN
		ID
		email
		


İNDEX’in amacı:
	Bir veya birkaç adet kayıt üzerinde işlem yapmak
"""


# import matplotlib.pyplot as plt
# plt.hist( df['price'] )



ROUNDS = json.load(open('rounds.json'))
for c in ROUNDS:
    df[c]= df[c].apply( lambda x: round(x, ROUNDS[c] ) )

"""
for c in ['sqft_above', 'sqft_basement', 'sqft_living', 'sqft_lot']: 
    df[c]= df[c].apply( lambda x: round(x, -2) )

df['price']= df['price'].apply( lambda x: round(x, -3) )
"""


new = pd.DataFrame(columns=['name','mean','median','std','kurtosis','skewness', 'upper', 'lower', '#upper', '#lower', 'cardinality']) 


for x in df.columns: 
    if str(df.dtypes[x]) in ['int64','float64']: 
        mea = df[x].mean() 
        medi = df[x].median() 
        std = round(df[x].std(), 2)
        kurto = round( df[x].kurtosis(), 2)
        skew = round(df[x].skew(), 2)
        q1 = df[x].quantile(0.25)
        q3 = df[x].quantile(0.73)

        iqr = q3-q1
        upper_bound = q3 + 1.5 * iqr
        lower_bound = q1 - 1.5 * iqr
        
        nof_uppers = len(df[ df[ x ] > upper_bound ])
        nof_lowers = len(df[ df[ x ] < lower_bound ])


        cardinality = len(df[x].unique()) / len(df)


        new.loc[len(new)] = [x,mea,medi,std,kurto,skew, upper_bound, lower_bound, nof_uppers, nof_lowers, cardinality] 
        
# print(new) 

new.to_csv("analysis.csv")

# sqft_lot	14854.0662598082	7683.5	35912.66	219.75	11.31	18748.875	-3248.125	581	0	0.67741935483871



#! print( (df['price'] - df['price'].min()) / (df['price'].max() - df['price'].min())  )

0       0.018917
1       0.031403
2       0.265589
3       0.000000
4       0.037157
          ...
4583    0.016360
4584    0.010154
4585    0.009590
4586    0.013238
4587    0.013915
Name: price, Length: 4588, dtype: float64

In [86]:
#! df['city'].value_counts()


"""
groups = df.groupby(['city'])
counter = 0
for name, values in groups:
  print(name)
  print(values)
  print('===========')
"""

#! for c in df['city'].unique():
#!     print(c)
#!     alt_kume = df[ df['city'] == c ]
#!     print(alt_kume)
#!     print('==========')



#! print( "avg", df.groupby(['city'])['price'].mean().to_dict() )
#! print( "std", df.groupby(['city'])['price'].std().to_dict() )
#! print( "q3", df.groupby(['city'])['price'].quantile(0.75).to_dict() )
#! print( "max", df.groupby(['city'])['price'].max().to_dict() )

#! for x in df.groupby(['bathrooms'])['price'].mean().values:
#!     print(x)

#! df.groupby(['bathrooms'])['price'].mean()


# df.groupby(['city', 'bedrooms'])['price'].mean().to_frame().to_csv("analysis2.csv")


#: Aggregator
#: Aggregation
df.groupby(['city']).agg(
    {
        'price':             ['min', 'max', 'mean', 'skew'],
        'bedrooms':          ['min', 'max', 'mean', 'skew'],
        'sqft_living' :      ['min', 'max', 'mean', 'skew'],
    }
)

                price                                       bedrooms      \
                  min         max           mean       skew      min max
city
Auburn            0.0    900000.0  299405.714286   2.000474        1   7
Bellevue          0.0   7062000.0  850540.636042   5.224727        2   7
Federal Way       0.0    819000.0  289904.761905   1.448388        2   6
Issaquah          0.0   2239000.0  598664.864865   3.287229        2   7
Kent              0.0  26590000.0  443005.524862  13.410585        1   6
Kirkland      90000.0   3000000.0  651588.235294   2.870081        1   5
Other             0.0   4668000.0  507028.540066   3.638763        1   7
Redmond           0.0   2280000.0  666047.210300   1.948935        0   7
Renton            0.0   1135000.0  377555.172414   1.306842        1   7
Sammamish         0.0   2400000.0  681425.287356   1.849891        2   6
Seattle           0.0  12899000.0  578198.852772  13.044690        0   9
Shoreline    176000.0   2005000.0  421883.333333   4.037239        2   8
Woodinville       0.0   1820000.0  612345.132743   1.307981        1   6

                                sqft_living
                 mean      skew         min    max         mean      skew
city
Auburn       3.417143  0.666109         800   4900  2022.857143  1.215766
Bellevue     3.806338  0.559787         900  10000  2700.352113  1.708712
Federal Way  3.503401  1.034599         800   5800  2052.380952  1.501707
Issaquah     3.561497  0.744129        1000   7300  2456.684492  1.579605
Kent         3.459459  0.471584         600   3800  1978.378378  0.396367
Kirkland     3.540107  0.006812         800   5300  2259.893048  0.805798
Other        3.479737  0.323088         400   9600  2248.411829  1.596247
Redmond      3.418803  0.033218         800  13500  2491.880342  4.387627
Renton       3.479452  0.551142         700   7300  2113.698630  1.257898
Sammamish    3.729885  0.345712        1200   5700  2835.057471  0.245985
Seattle      3.168468  0.762605         400   8700  1827.654164  1.557024
Shoreline    3.311475  1.299538         700   4600  1781.967213  1.104630
Woodinville  3.556522  0.077937         800   6900  2660.869565  1.115863

In [133]:
dq = df[['street', 'city']]

#! dq['new'] = dq['street'].str.count(' ') + 1
#! dq['new'] = dq['street'].str.contains('Trail')

dq['new'] = dq['street'].str.cat( ' ' + dq['city'] )


# dq = dq.sort_values( 'new' )
# print(dq)
"""
print(df['price'].corr( df['street'].str.len() ))
print(df['street'].str.len().corr( df['price'] ))

a = "3"
b = 3
print(a * 5)
print(int(a) * 5)
print(b * 5)
"""


def kelimesayisi( metin: str ) -> int:
    return metin.count(' ') + 1


kelimesayisi2 = lambda metin: metin.count(' ') + 1



print( df['street'].apply( kelimesayisi2 )
print( df['city'].apply( kelimesayisi2 )





# print( kelimesayisi("emre yazici") )
# print( kelimesayisi("korgeneral esatpasa mah") )


# pseduo kod
# verici ac
# street kolonundaki her bir deger icin, kelime sayisini bulacagim.
#

0       4
1       4
2       4
3       4
4       4
       ..
4583    4
4584    4
4585    7
4586    4
4587    4
Name: street, Length: 4588, dtype: int64

/home/emre/.local/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy